body{
    background-color: black;
    color: white;
}
/* From Uiverse.io by Ashon-G */ 
.uiverse {
    --duration: 7s;
    --easing: linear;
    --c-color-1: rgba(255, 163, 26, 0.7);
    --c-color-2: #1a23ff;
    --c-color-3: #e21bda;
    --c-color-4: rgba(255, 232, 26, 0.7);
    --c-shadow: rgba(255, 223, 87, 0.5);
    --c-shadow-inset-top: rgba(255, 223, 52, 0.9);
    --c-shadow-inset-bottom: rgba(255, 250, 215, 0.8);
    --c-radial-inner: #ffd215;
    --c-radial-outer: #fff172;
    --c-color: #fff;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    outline: none;
    position: relative;
    cursor: pointer;
    border: none;
    display: table;
    border-radius: 24px;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--c-color);
    background: radial-gradient(
      circle,
      var(--c-radial-inner),
      var(--c-radial-outer) 80%
    );
    box-shadow: 0 0 14px var(--c-shadow);
  }
  
  .uiverse:before {
    content: "";
    pointer-events: none;
    position: absolute;
    z-index: 3;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px;
    box-shadow:
      inset 0 3px 12px var(--c-shadow-inset-top),
      inset 0 -3px 4px var(--c-shadow-inset-bottom);
  }
  
  .uiverse .wrapper {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    overflow: hidden;
    border-radius: 24px;
    min-width: 132px;
    padding: 12px 0;
  }
  
  .uiverse .wrapper span {
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  
  .uiverse:hover {
    --duration: 1400ms;
  }
  
  .uiverse .wrapper .circle {
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    filter: blur(var(--blur, 8px));
    background: var(--background, transparent);
    transform: translate(var(--x, 0), var(--y, 0)) translateZ(0);
    animation: var(--animation, none) var(--duration) var(--easing) infinite;
  }
  
  .uiverse .wrapper .circle.circle-1,
  .uiverse .wrapper .circle.circle-9,
  .uiverse .wrapper .circle.circle-10 {
    --background: var(--c-color-4);
  }
  
  .uiverse .wrapper .circle.circle-3,
  .uiverse .wrapper .circle.circle-4 {
    --background: var(--c-color-2);
    --blur: 14px;
  }
  
  .uiverse .wrapper .circle.circle-5,
  .uiverse .wrapper .circle.circle-6 {
    --background: var(--c-color-3);
    --blur: 16px;
  }
  
  .uiverse .wrapper .circle.circle-2,
  .uiverse .wrapper .circle.circle-7,
  .uiverse .wrapper .circle.circle-8,
  .uiverse .wrapper .circle.circle-11,
  .uiverse .wrapper .circle.circle-12 {
    --background: var(--c-color-1);
    --blur: 12px;
  }
  
  .uiverse .wrapper .circle.circle-1 {
    --x: 0;
    --y: -40px;
    --animation: circle-1;
  }
  
  .uiverse .wrapper .circle.circle-2 {
    --x: 92px;
    --y: 8px;
    --animation: circle-2;
  }
  
  .uiverse .wrapper .circle.circle-3 {
    --x: -12px;
    --y: -12px;
    --animation: circle-3;
  }
  
  .uiverse .wrapper .circle.circle-4 {
    --x: 80px;
    --y: -12px;
    --animation: circle-4;
  }
  
  .uiverse .wrapper .circle.circle-5 {
    --x: 12px;
    --y: -4px;
    --animation: circle-5;
  }
  
  .uiverse .wrapper .circle.circle-6 {
    --x: 56px;
    --y: 16px;
    --animation: circle-6;
  }
  
  .uiverse .wrapper .circle.circle-7 {
    --x: 8px;
    --y: 28px;
    --animation: circle-7;
  }
  
  .uiverse .wrapper .circle.circle-8 {
    --x: 28px;
    --y: -4px;
    --animation: circle-8;
  }
  
  .uiverse .wrapper .circle.circle-9 {
    --x: 20px;
    --y: -12px;
    --animation: circle-9;
  }
  
  .uiverse .wrapper .circle.circle-10 {
    --x: 64px;
    --y: 16px;
    --animation: circle-10;
  }
  
  .uiverse .wrapper .circle.circle-11 {
    --x: 4px;
    --y: 4px;
    --animation: circle-11;
  }
  
  .uiverse .wrapper .circle.circle-12 {
    --blur: 14px;
    --x: 52px;
    --y: 4px;
    --animation: circle-12;
  }
  
  @keyframes circle-1 {
    33% {
      transform: translate(0px, 16px) translateZ(0);
    }
  
    66% {
      transform: translate(12px, 64px) translateZ(0);
    }
  }
  
  @keyframes circle-2 {
    33% {
      transform: translate(80px, -10px) translateZ(0);
    }
  
    66% {
      transform: translate(72px, -48px) translateZ(0);
    }
  }
  
  @keyframes circle-3 {
    33% {
      transform: translate(20px, 12px) translateZ(0);
    }
  
    66% {
      transform: translate(12px, 4px) translateZ(0);
    }
  }
  
  @keyframes circle-4 {
    33% {
      transform: translate(76px, -12px) translateZ(0);
    }
  
    66% {
      transform: translate(112px, -8px) translateZ(0);
    }
  }
  
  @keyframes circle-5 {
    33% {
      transform: translate(84px, 28px) translateZ(0);
    }
  
    66% {
      transform: translate(40px, -32px) translateZ(0);
    }
  }
  
  @keyframes circle-6 {
    33% {
      transform: translate(28px, -16px) translateZ(0);
    }
  
    66% {
      transform: translate(76px, -56px) translateZ(0);
    }
  }
  
  @keyframes circle-7 {
    33% {
      transform: translate(8px, 28px) translateZ(0);
    }
  
    66% {
      transform: translate(20px, -60px) translateZ(0);
    }
  }
  
  @keyframes circle-8 {
    33% {
      transform: translate(32px, -4px) translateZ(0);
    }
  
    66% {
      transform: translate(56px, -20px) translateZ(0);
    }
  }
  
  @keyframes circle-9 {
    33% {
      transform: translate(20px, -12px) translateZ(0);
    }
  
    66% {
      transform: translate(80px, -8px) translateZ(0);
    }
  }
  
  @keyframes circle-10 {
    33% {
      transform: translate(68px, 20px) translateZ(0);
    }
  
    66% {
      transform: translate(100px, 28px) translateZ(0);
    }
  }
  
  @keyframes circle-11 {
    33% {
      transform: translate(4px, 4px) translateZ(0);
    }
  
    66% {
      transform: translate(68px, 20px) translateZ(0);
    }
  }
  
  @keyframes circle-12 {
    33% {
      transform: translate(56px, 0px) translateZ(0);
    }
  
    66% {
      transform: translate(60px, -32px) translateZ(0);
    }
  }

/* From Uiverse.io by zjssun */ 
button {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: white;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px;
    transition: 0.5s ease;
    user-select: none;
    align-items: center;
  }
  
  #btn:hover,
  :focus {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
  }

/*ANIMATION8*/
@keyframes fade-in {
  to {
    opacity: 1;
  }
}
.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}

.timeline {
  position: relative;
  max-width: 1000px;
  margin: auto;
  padding: 20px 0;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background: #008cff;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
  animation: growLine 3s ease-out forwards;
}

.timeline-item {
  padding: 20px 40px;
  position: relative;
  width: 50%;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
}

.timeline-item.visible {
  opacity: 1;
  transform: translateY(0);
}

.timeline-item.left {
  left: 0;
}

.timeline-item.right {
  left: 50%;
}

.timeline-item::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: -10px;
  background: #fff;
  border: 4px solid #008cff;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-item.right::after {
  left: -10px;
}

.timeline-item .content {
  background: #111827;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 12px rgba(0, 140, 255, 0.4);
}

@media screen and (max-width: 768px) {
  .timeline::after {
    left: 20px;
  }

  .timeline-item {
    width: 100%;
    padding-left: 40px;
    padding-right: 25px;
  }

  .timeline-item.right {
    left: 0%;
  }

  .timeline-item::after {
    left: 10px;
  }
}

@keyframes growLine {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

/* From Uiverse.io by mobinkakei */ 
.cta {
  display: flex;
  padding: 11px 33px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  background: #6225e6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
  border: none;
  cursor: pointer;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #fbc638;
}

.cta .second {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover .second {
  transition: 0.5s;
  margin-right: 45px;
}

.span {
  transform: skewX(15deg);
}

.second {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: #fbc638;
  }

  100% {
    fill: white;
  }
}

/* Skills Section */
.skills-section {
  padding: 80px 20px;
  text-align: center;
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 40px;
  color:;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.skill-card {
  background: #111827;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 220px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  cursor: pointer;
}

.skill-card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}

.skill-card h3 {
  font-size: 1.3rem;
  color: white;
}
